<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <h1 class="mb-4">Welcome</h1>
  <p class="lead">ამ აპლიკაციაში გამოყენებულია ფორმულა 50/30/20 სადაც:  </p>
  <p class="lead">50% არის საჭირო ფული მაგ: გადასახადები, ქირა, საჭმელი და ა.ს.შ</p> 
  <p class="lead">30% არის ის რაც გინდათ რომ გამოიყენოთ მაგ: ახალი ტელეფონი, ახალი ტანსაცმელი, მოგზაურობა</p> 
  <p class="lead">20% არის ის ფული რომელიც ან უნდა შეიტანოთ დანაზოგებში ან ინვესტიცია უნდა მოახდინოთ</p> 

  <a href="registerr" class="btn btn-primary">create user</a>
  <a href="loginn" class="btn btn-primary">login</a>
{% endblock %}
